<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/register.css">
    <title>Registration Page</title>
</head>
<body>
    <div class="container">
        <form action="" method="">
            <h2>Sign Up</h2>
            <div class="content">
                <div class="input-box">
                    <label for="">Email</label>
                    <input type="email" name="email" placeholder="Enter Email">
                </div>
                <div class="input-box">
                    <label for="">First Name</label>
                    <input type="text" name="firstname" placeholder="Enter First Name">
                </div>
                <div class="input-box">
                    <label for="">Middle Name</label>
                    <input type="text" name="middlename" placeholder="Enter Middle Name">
                </div>
                <div class="input-box">
                    <label for="">Last Name</label>
                    <input type="text" name="lastname" placeholder="Enter Last Name">
                </div>
                <div class="input-box">
                    <label for="">Phone Number</label>
                    <input type="text" name="phonenumber" placeholder="Enter Phone Numeber">
                </div>
            </div>
            <div class="button-container">
                <button type="submit">Sign up</button>
            </div>
        </form>
    </div>
</body>
</html>