<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .myuser{
            color: red;
            background-color: yellow;
        }
        .mypass{
            color: white;
            background-color: blue;
        }
    </style>
</head>
<body>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Login"> 
    </form>
</body>
</html>