<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Session</title>
</head>
<body>
    <p>Your name from the session</p>
    {{name}}
    {{lname}}<br><hr>
    <!--How to get session key-->
    {% for key in keys %}
    {{key}} 
    {% endfor %}<br><hr>
    {% for item in items %}
    {{item}}
    {% endfor %}<br><hr>
    {% for key, value in items %}
    {{key}} {{value}}
    {% endfor %}
</body>
</html>